body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 1.5rem;
    margin-top: -5%;
}

.page-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.navy {
    background: #001220;
}

.salmon {
    background: #9a3434;
}

.forest {
    background: #416100;
}

.divider {
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -35%;
    display: flex;
    flex-direction: column;
}


.wave-salmon {
    background-image: url(../assets/salmon-wave.svg);
}

.wave-forest {
    background-image: url(../assets/green-wave.svg);
}

button {
    background-color: #FFD814;
    border: none;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10%;
}
